<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Aiti\ProductResponsibleUserApi\Api\ProductResponsibleUserApiRepositoryInterface" type="Aiti\ProductResponsibleUser\Model\ProductResponsibleUserApiRepository"/>
	<preference for="Aiti\ProductResponsibleUserApi\Api\Data\ProductResponsibleUserApiInterface" type="Aiti\ProductResponsibleUser\Model\ProductResponsibleUser"/>
	<preference for="Aiti\ProductResponsibleUserApi\Api\Data\ProductResponsibleUserApiSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
